@import "tailwindcss";

:root {
  --color-orange: #f0864b;
  --color-pink: #ea5e7f;
  --color-dark: #404855;
  --color-pale-gray: #788c92;
  --color-white: #ffffff;

  --text-color-dark: var(--color-dark);
  --text-color-light: var(--color-white);
  --text-color-pale: var(--color-pale-gray);

  --bg-color-dark: var(--color-dark);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
